.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    border-bottom: 1px solid #f9f9f9;
    padding: 6px;
    .header_icon{

    }
    img{
        height: 40px;
    }
}