.tinder_cards{
    height: 65vh;
    .tinder_cards_cont{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 6vh;
        .swipe{
            position: absolute;
            .card{
                width: 600px;
                max-width: 90vw;
                height: 65vh;
                position: relative;
                background-color: white;
                box-shadow: 0px 10px 26px 0 rgba(0, 0, 0, 0.3);
                border-radius: 20px;
                background-size: cover;
                background-position: center;
                h3{
                    position: absolute;
                    bottom: 18px;
                    color: #fff;
                    left: 18px;
                    font-size: 22px;
                }
            }
        }
    }
}